@model IEnumerable<LIMS.Models.Shipdoc>
@using LIMS.Environment;
@{ decimal summMoney = 0;
    decimal sumWeight = 0;
    string quantityTrimmed;
}
<div id="ListOfGoods">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Код</th>
                <th scope="col">Номенклатура</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
                <th scope="col">Сумма</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (Shipdoc shipdoc in Model)
            {
                decimal summ = Math.Round(@shipdoc.Price * @shipdoc.Quantity, 2);
                sumWeight += @shipdoc.Quantity;
                summMoney += summ;
                quantityTrimmed = DoubleTrim.TrimIt(shipdoc.Quantity);
                <tr>
                    <th scope="row">@shipdoc.Id</th>
                    <td>@shipdoc.Nomencl.Name</td>
                    <td>@shipdoc.Price</td>
                    <td>@quantityTrimmed</td>
                    <td>@summ.ToString()</td>
                    <td><a href="#" class="btn btn-link" onclick="DeleteGood(@shipdoc.Id)">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>
    @{ quantityTrimmed = DoubleTrim.TrimIt(sumWeight);
    }
    <dl class="row">
        <dt class="col-sm-2">
            Сумма:
        </dt>
        <dd class="col-sm-10">
            @summMoney
        </dd>
        <dt class="col-sm-2">
            Количество:
        </dt>
        <dd class="col-sm-10">
            @quantityTrimmed
        </dd>
    </dl>
</div>
